---
import SpeedInsights from "@vercel/speed-insights/astro";

const {pageTitle} = Astro.props;
---
<html lang="en" class="bg-white font-serif overscroll-none overflow-y-scroll">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Star Wars timeline" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Star Wars Timeline | {pageTitle}</title>
  </head>
  <body class="m-0 w-full h-full leading-normal" style="background-image: url('/fondo.webp'); opacity: 100%">
    {/*<Header />*/}
    <main class="flex flex-col items-center justify-start py-20">
      <slot />
    </main>
    <footer>
      <p class="text-center text-sm text-white pb-2">
        &copy; {new Date().getFullYear()} Star Wars Timeline | Made by {'Ivan'}
      </p>
      <p class="text-center text-sm text-white pb-4">
        All rights are owned by Lucasfilm Ltd.
      </p>
    </footer>
    <SpeedInsights />
  </body>

  <style>
    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #030303;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #030303;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid #ffffff;
  }
  </style>
</html>